
:host {
  display: block;
  width: 450px;
  text-align: center;
  margin: 8px auto;
  border: 2px solid #000;
  padding: 8px;
 img{
  height: 300px;
  width: 240px;
 }

 
}

// .img {
//   width: 100px;
//   height: 100px;
//   display: block;
//   margin: 0 auto;
// }
// .typeOne {
//   color: green;
//   background-color: black;
//   border: 5px solid black;
// }
