
<!-- <span [innerHTML]="sports.printProperties(0)"></span>
<span [innerHTML]="sports.printProperties(1)"></span>
<span [innerHTML]="sports.printProperties(2)"></span>
<span [innerHTML]="sports.printProperties(3)"></span>
<span [innerHTML]="sports.printProperties(3)"></span> --> 
<div class="content-card">

    <h2>{{ contentList?.id}}:- {{ contentList?.title }}</h2>
    <img class="img" *ngIf="contentList?.imgURL;else defaultImageURL" [src]='contentList?.imgURL' (click)="display_card()" [alt]="0" style="height: 150px;" />
    <ng-template #defaultImageURL>
        <img [src]="defaultImage" (click)="display_card()" />
    </ng-template>
    <p>{{ contentList?.description }}</p>
    <h6>Popular In:- {{ contentList?.creator }}</h6>
    <h4 *ngIf="contentList?.type" appHoverAffect [Hover-Affect]="'underline'">type:- {{ contentList?.type }}</h4>
    <h4 *ngIf="contentList?.tags" appHoverAffect [Hover-Affect]="'bold'">{{ contentList?.tags }}</h4>
</div>
